---
import Layout from "../layouts/Layout.astro";

const token = import.meta.env.PUBLIC_GITHUB_API_TOKEN;
const request = await fetch(
  "https://api.github.com/repos/engsoft-unifei/psimodels/contributors",
  {
    method: "GET",
    headers: {
      Accept: "application/vnd.github+json",
      Authorization: `Bearer ${token}`,
    },
  }
);
const contributors = await request.json();
---

<Layout title="Collab | Pessoas autoras" goBack>
  <main
    class="bg-base-200 min-w-full min-h-screen flex flex-col items-center justify-start gap-16 p-4 py-28 sm:px-16 md:px-32 lg:px-64"
  >
    <div class="prose min-w-full">
      <h1 class="text-center">Criado em colaboração de</h1>
    </div>

    <div
      class="students flex flex-row gap-8 max-w-full flex-wrap justify-center"
    >
      {
        contributors.map((i) => {
          return (
            <a
              href={i.html_url}
              target="_blank"
              class="student flex flex-col items-center justify-center gap-2 ease-in-out duration-150 hover:scale-110"
            >
              <div class="avatar">
                <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                  <img src={i.avatar_url} alt={i.login} />
                </div>
              </div>
              <p class="text-center">@{i.login}</p>
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
